{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <h1>{{ user.username }}</h1>
            {% if user.location %}
            <p>
                {% if user.location %}
                <i class="fa-thin fa-location-dot"></i> {{ user.location }}
                {% endif %}
            </p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p><i class="fa-solid fa-calendar-days"></i> Joined {{ moment(user.member_since).format('L') }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-dark"><a href="{{ url_for('main.edit_profile') }}">Edit Profile</a></button>
    </div>
{% endblock %}
